.preview
  position: relative
  z-index: 0
  margin-left: $sidebar-width
  width: calc(100% - $sidebar-width)
  display: flex
  flex-wrap: wrap
  overflow: hidden


  &__item
    +breakpoint("desktop")
      max-width: 25%
    +breakpoint("laptop")
      max-width: 33.33%
    +breakpoint("tablet")
      max-width: 50%
    +breakpoint("phablet")
      max-width: 100%
    position: relative

    img
      width: 100%
      height: 100%
      object-fit: cover
      max-width: 300px

  &__info
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    background-color: #2db8b7
    opacity: 0
    font-family: 'Roboto', sans-serif
    color: white
    transition: .2s all ease

    &:hover
      opacity: 0.9

    &_title
      font-size: 24px

    &_tags
      font-size: 12px
      text-transform: lowercase
      padding-top: 5px
      padding-bottom: 15px
      border-bottom: 1px solid white

    &_link
      padding: 15px
      display: flex
      min-width: 90px
      min-height: 90px

      a
        width: 100%
        flex: 1 1 auto
        display: flex
        border: 1px solid white
        border-radius: 50%
        align-items: center
        justify-content: center
        color: white
        text-decoration: none
