@import 'vars'

*
  margin: 0
  padding: 0
  box-sizing: border-box
html
  height: 100%

@import 'grid'

body
  min-height: 100%

.container
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0
  height: 100vh
  width: calc(100% - 200px)
  +breakpoint('tablet')
    margin-left: 300px
    width: calc(100% - 300px)


@media (max-width: 768px)
  .menu-button
    left: 0 !important

#my-scrollbar
  height: 100%

@import 'buttons'

@import 'sidebar-styles'

@import 'preview-styles'

@import 'contacts-style'

@import 'contact-form'
