.blog-info
  a(href="#").blog-info__comment
    .blog-info__comment_icon
      i.fas.fa-comment
    .blog-info__comment_text
      |3 comments
  a(href="#").blog-info__post-date
    .blog-info__post-date_icon
      i.fas.fa-calendar-alt
    .blog-info__post-date_text
      |Dec 19, 2013
