.communication.m-r-20
  .communication__header
    .communication__header_top
      .communication__header_title
        |Get in touch with us
      .communication__header_button
        span.first-span
        span.second-span
    .communication__header_text
      |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
      |nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
      |vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
      |Nam nec tellus a odio tincidunt auctor a ornare odio.
  
  +communication-form("Send us a message")
