.show-contact
  .show-contact__icon
    i.fas.fa-info-circle
      
.contacts
  a(href="tel:993012345679").m-b-10
    i.fas.fa-phone
    |9930 1234 5679
  a(href="#").m-b-10
    i.fas.fa-envelope
    |contact@domain.com
  a(href="#")
    i.fas.fa-home
    |street address example
