.project-info
  .project-info__title Project Info
  .project-info__element
    .project-info__element_icon
      .icon-container
        i.fas.fa-user
    .project-info__element_text premiumlayers
  .project-info__element
    .project-info__element_icon
      .icon-container
        i.fas.fa-heart
    .project-info__element_text 138 Likes
  .project-info__element
    .project-info__element_icon
      .icon-container
        i.far.fa-envelope
    .project-info__element_text 25 December, 2013
  .project-info__element
    .project-info__element_icon
      .icon-container
        i.fas.fa-link
    .project-info__element_text 4 Comments
