.work-preview
  .work-preview__slider
    each item in '1234'
      img(src="./img/preview-slider-" + item + ".png" alt="slider image" data-index=''+item)
  
  .work-preview__title Heavy Sand - Creative Photography
  .work-preview__text
    p.m-b-10.
      Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
      nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a 
      sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio 
      tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat 
      auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's 
      version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
    p.b-b-1.
      Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan 
      ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
