.post
  .post__img
    img(src="img/standart.png")
  .post__about
    .post__about_title
      |Standart post format
    .post__about_text
      |A man who works with his hands is a laborer; 
      |a man who works with his hand s and his brain is a craftsman; 
      |but a man who works with his hands and his brain and his heart is an artist
  .post__info
    
    .post__info_comments
      i.fas.fa-comment
      |3 comments
    .post__info_date
      i.fas.fa-calendar-lite
      |Dec 19, 2013
