html(lang="en")
  include partials/head
  body
    include partials/sidebar
    include partials/menu-button
    .container
      include partials/communication
      include partials/map
    .to-top-button
      i.fas.fa-arrow-circle-up
                    
    include partials/contacts
    include partials/footer
